# Airbnb Price Prediction

In [1]:
%matplotlib inline
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('../data/Aemf1.csv')

In [3]:
df.head()

,City,Price,Day,Room Type,Shared Room,Private Room,Person Capacity,Superhost,Multiple Rooms,Business,Cleanliness Rating,Guest Satisfaction,Bedrooms,City Center (km),Metro Distance (km),Attraction Index,Normalised Attraction Index,Restraunt Index,Normalised Restraunt Index
0,Amsterdam,194.033698,Weekday,Private room,False,True,2.0,False,1,0,10.0,93.0,1,5.022964,2.539380,78.690379,4.166708,98.253896,6.846473
1,Amsterdam,344.245776,Weekday,Private room,False,True,4.0,False,0,0,8.0,85.0,1,0.488389,0.239404,631.176378,33.421209,837.280757,58.342928
2,Amsterdam,264.101422,Weekday,Private room,False,True,2.0,False,0,1,9.0,87.0,1,5.748312,3.651621,75.275877,3.985908,95.386955,6.646700
3,Amsterdam,433.529398,Weekday,Private room,False,True,4.0,False,0,1,9.0,90.0,2,0.384862,0.439876,493.272534,26.119108,875.033098,60.973565
4,Amsterdam,485.552926,Weekday,Private room,False,True,2.0,True,0,0,10.0,98.0,1,0.544738,0.318693,552.830324,29.272733,815.305740,56.811677

In [9]:
df.shape

(41714, 19)

In [10]:
data = df.copy()

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41714 entries, 0 to 41713
Data columns (total 19 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   City                         41714 non-null  object
 1   Price                        41714 non-null  float64
 2   Day                          41714 non-null  object
 3   Room Type                    41714 non-null  object
 4   Shared Room                  41714 non-null  bool
 5   Private Room                 41714 non-null  bool
 6   Person Capacity              41714 non-null  float64
 7   Superhost                    41714 non-null  bool
 8   Multiple Rooms               41714 non-null  int64
 9   Business                     41714 non-null  int64
 10  Cleanliness Rating           41714 non-null  float64
 11  Guest Satisfaction           41714 non-null  float64
 12  Bedrooms                     41714 non-null  int64
 13  City Center (km)             41714 non-null  float64
 14  Metro Distance (km)          41714 non-null  float64
 15  Attraction Index             41714 non-null  float64
 16  Normalised Attraction Index  41714 non-null  float64
 17  Restraunt Index              41714 non-null  float64
 18  Normalised Restraunt Index   41714 non-null  float64
dtypes: bool(3), float64(10), int64(3), object(3)
memory usage: 5.2+ MB

In [14]:
data.dtypes.value_counts()

float64    10
object      3
bool        3
int64       3
dtype: int64

lista de todas as categorigas, continuas e discretas

In [15]:
continuous_variables = [
    'Price',
    'City Center (km)',
    'Metro Distance (km)',
    'Attraction Index',
    'Normalised Attraction Index',
    'Restraunt Index',
    'Normalised Restraunt Index'
]

discrete_variables = [
    'Person Capacity',
    'Multiple Rooms',
    'Business',
    'Bedrooms'
]

categorical_variables = [
    'City',
    'Day',
    'Room Type',
    'Shared Room',
    'Private Room',
    'Superhost'
]

ordinal_variables = [
    'Cleanliness Rating',
    'Guest Satisfaction'
]

In [16]:
for col in continuous_variables:
    data[col] = data[col].astype('float64')

In [17]:
for col in categorical_variables:
    data[col] = data[col].astype('category')

In [18]:
for col in discrete_variables:
    data[col] = data[col].astype('float64')

In [19]:
rating = list(range(0,11))
satisfaction = list(range(0,101))
category_orderings = {
    'Cleanliness Rating': rating,
    'Guest Satisfaction': satisfaction
}